event/*
!event/.gitkeep
!event/0.jpg
event_thumb/*
!event_thumb/.gitkeep
!event_thumb/0.jpg

image/*
!image/.gitkeep
image_thumb/*
!image_thumb/.gitkeep

announcement/*
!announcement/.gitkeep
!announcement/0.jpg
announcement_thumb/*
!announcement_thumb/.gitkeep
!announcement_thumb/0.jpg

